@inject IPrintingService PrintingService
<Example Name="@this.GetType().Name">
    <Documentation>
        <h3>Default</h3>
        <p>Add a button to print a PDF file located on your hosting server</p>
    </Documentation>
    <Code>
        <button type="button" @onclick="@(() => PrintingService.Print("docs/sample.pdf"))">
            Print PDF
        </button>
    </Code>
</Example>
