@inject IPrintingService PrintingService
<Example Name="Large">
    <Documentation>
        <h3>Large</h3>
        <p>
            For large files, you can show a message to the user when loading files.
        </p>
    </Documentation>
    <Code>
        <button type="button" @onclick="@(() => PrintingService.Print("https://printjs.crabbly.com/docs/large_printjs.pdf", showModal:true))">
            Print Large PDF ( 5mb file )
        </button>
        <button type="button" @onclick="@(() => PrintingService.Print("https://printjs.crabbly.com/docs/x_large_printjs.pdf",showModal:true))">
            Print Extra Large PDF ( 16mb file )
        </button>
    </Code>
</Example>
