@page "/"
@using Append.Blazor.Printing
@inject IPrintingService PrintingService

<h1>Hello, world!</h1>

<button @onclick="@(()=> PrintingService.Print("docs/sample.pdf"))">
    Print PDF
</button>

<form method="post" action="#" id="printJS-form">
	<div style="display: flex; margin-bottom: 10px;">
		<div style="flex: 1;padding-right: 10px;">
			Name:
			<input type="text" name="name" id="name" value="John Doe" placeholder="Name">
		</div>
		<div style="flex: 1;">
			Email:
			<input type="text" name="email" id="email" value="john@doe.com" placeholder="Email">
		</div>
	</div>
	<div>
		<div>
			Message:
			<textarea name="message" id="message" placeholder="Message">Print HTML Elements</textarea>
		</div>
	</div>
</form>

<button @onclick="@(()=> PrintingService.Print("printJS-form", PrintType.Html))">
    Print Form
</button>